body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    perspective: 400px;
}
html,body{
    height: 100%;
}

.plane{
    border-radius: 2px;
    height: 200px;
    width: 100px;
    background-color: rgb(55, 105, 231);
}