body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
html,body{
    height: 100%;
}